<div>{{ name }}</div>
<div>{{ date }} </div>
<h3>Favorite</h3>
<div> Food: {{ food.favorite }} </div>
<div> Brand: {{ brand.favorite }} </div>
<div> Hobby: {{ hobby.favorite }} </div>
<div> Color: {{ color.favorite }} </div>
</div>




<a href="/birthday/edit/{{ _id }}">Edit</a>
